<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="Plugins.AService.WcfService.BusinessBasicInfoService">
                    <security mode="None" />
                </binding>
                <binding name="ResourceRobot.White.WcfService.WhiteListService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://172.16.0.194:3722/Plugins.AService.WcfService"
                binding="netTcpBinding" bindingConfiguration="Plugins.AService.WcfService.BusinessBasicInfoService"
                contract="SR_PluginsAService.IBusinessAService" name="Plugins.AService.WcfService.BusinessBasicInfoService" />
            <endpoint address="net.tcp://172.16.0.194:3723/ResourceRobot.White.WcfService"
                binding="netTcpBinding" bindingConfiguration="ResourceRobot.White.WcfService.WhiteListService"
                contract="SR_ResourceRobotWhiteListService.IWhiteListService"
                name="ResourceRobot.White.WcfService.WhiteListService" />
        </client>
    </system.serviceModel>
</configuration>